{% extends 'layout.html' %}
{% block body %}
<div class="">

    <div class="container-fluid p-0">

        <!-- Login-->
        <section class="resume-section" id="fetch_form">
            <div class="resume-section-content">

                <h1 class="mb-5">
                    Fetch Details
                </h1>
                <form action="#" method="POST">
                    <div class="d-flex mb-2">
                        <div class="form-group d-flex flex-column flex-md-row justify-content-between">
                            <label><h3 class="mb-0 mr-5">Enter Lot Number</h3></label>
                            <input type="text" name="lot_number" class="form-control mt-4" value={{request.form.lot_number}}>
                        </div>
                    </div>

                    <div class="form-group d-flex flex-column flex-md-row">
                        <button type="submit" class="btn btn-outline-primary pl-5 pr-5 mr-5 btn-lg">Fetch</button>
                    </div>

                </form>
            </div>
        </section>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="../static/js/home.js"></script>
</div>
{% endblock %}