{% extends 'layout.html' %}
{% block body %}
<div class="main_body">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="../static/js/home.js"></script>
<div class="container-fluid p-0" id="page-top">
            <!-- Home-->
        <div class="background_div">
        <section class="resume-section" id="home">
            <div class="resume-section-content">
                <div>
                    <h1 class="mb-0 mt-10" style="text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff;">Seed<span class="text-primary" >Chain</span></h1>
                </div>
                <div class="mb-5">
                    <h4>Blockchain for the seed supply chain ecosystem.</h4>
                </div>
            </div>
        </section>
        <hr class="m-0" />
    </div>

            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        About
                    </h1>
                    <div class="subheading mb-5">
                        Bla bla bla
                    </div>
                    <p class="lead mb-5" style="width: 60%">
                        Seed supply chain is a complex ecosystem involving various stakeholders.
                        Seed quality issues have demanded a need for effective traceability solution.
                        Several important criteria such as origin of the seed, stages in production,
                        conformance to quality standards such as genetic purity, germination rate etc. are to be validated.
                        This platform is a solution to all the problem. It is a one stop shop for every stakeholder in the supply chain.
                    </p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Login-->
            <section class="resume-section" id="login">
                <div class="resume-section-content" id="login_content">
                    <h1 class="mb-5">
                        Login
                    </h1>
                    <form action="#" method="POST">
                        {{ login_form.hidden_tag() }}
                        <table style="width:50%">
                            <tr>
                                <td style="text-align:start">
                                    <label><h3 class="mb-3 mr-5">Username</h3></label>
                                </td>
                                <td>
                                    {% if login_form.username.errors %}
                                    {{ login_form.username(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in login_form.username.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ login_form.username(class="form-control form-control-lg mb-3") }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:start">
                                    <label><h3 class="mb-0 mr-5">Role</h3></label>
                                </td>
                                <td>
                                    {{ login_form.role(class="form-control form-control-lg") }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center; padding-top: 0.5rem" colspan="2">
                                    {{login_form.submit_login(class="btn btn-outline-primary btn-lg login_submit")}}
                                </td>
                            </tr>
                        </table>
                        <div style="width: 50%">
                            <hr>
                        </div>

                    </form>
                    <button class="btn btn-outline-primary btn-lg" style="width: 50%" onclick="show_create_profile()">
                        Create Profile</button>
                </div>
                <div class="resume-section-content" id="create_profile">
                    <div onclick="hide_create_profile()">
                        <i class="fas fa-chevron-left fa-3x"></i>
                    </div>
                    <h1 class="mb-5">
                        Create Profile
                    </h1>
                    <form action="#" method="POST">
                        {{ profile_form.hidden_tag() }}
                        <table style="width:100%">
                            <tr>
                                <td style="text-align:start">
                                    <label><h3 class="mb-0 mr-5">First Name</h3></label>
                                </td>
                                <td>
                                    {% if profile_form.fname.errors %}
                                    {{ profile_form.fname(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in profile_form.fname.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ profile_form.fname(class="form-control form-control-lg mb-3") }}
                                    {% endif %}
                                </td>
                                <td style="text-align:start">
                                    <label><h3 class="mb-0 ml-5">Last Name</h3></label>

                                </td>
                                <td>
                                    {% if profile_form.lname.errors %}
                                    {{ profile_form.lname(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in profile_form.lname.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ profile_form.lname(class="form-control form-control-lg mb-3") }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:start">
                                    <label><h3 class="mb-0 mr-5">Role</h3></label>
                                </td>
                                <td>
                                    {{ profile_form.role(class="form-control form-control-lg mb-3") }}
                                </td>
                                <td style="text-align:start">
                                    <label><h3 class="mb-0 ml-5">Phone number</h3></label>

                                </td>
                                <td>
                                    {% if profile_form.phoneNumber.errors %}
                                    {{ profile_form.phoneNumber(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in profile_form.phoneNumber.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ profile_form.phoneNumber(class="form-control form-control-lg mb-3") }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:start">
                                    <label><h3 class="mb-0 mr-5">Email</h3></label>

                                </td>
                                <td colspan="2">
                                    {% if profile_form.email.errors %}
                                    {{ profile_form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in profile_form.email.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ profile_form.email(class="form-control form-control-lg") }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center; padding-top: 0.5rem" colspan="4">
                                    {{profile_form.submit_profile(class="btn btn-outline-primary btn-lg profile_submit")}}
                                </td>
                            </tr>

                        </table>

                    </form>
                </div>
            </section>
            <!-- Fetch Details-->
            <section class="resume-section" id="fetch_form">
            <div class="resume-section-content">

                <h1 class="mb-5">
                    Fetch Details
                </h1>
                <td><button class="btn btn-outline-primary mb-3" id="lot_number_btn" onclick="show_lot_number()">Want to enter lot number instead?</button></td>
                <td><button class="btn btn-outline-primary mb-3" id="appln_id_btn" onclick="hide_lot_number()">Want to enter application id instead?</button></td>

                <form action="" method="POST">
                    {{ fetch_form.hidden_tag() }}
                    <div>
                        <table style="width: 100%; margin-bottom: 2rem" id="appln_id_row">
                            <tr >
                                <td>
                                    <label><h3 class="mb-0 mr-5">Application Id</h3></label>
                                </td>
                                <td>
                                    {% if fetch_form.appln_id.errors %}
                                    {{ fetch_form.appln_id(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in fetch_form.appln_id.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ fetch_form.appln_id(class="form-control form-control-lg") }}
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%; margin-bottom: 2rem" id="lot_number_row">
                            <tr >
                                <td>
                                    <label><h3 class="mb-0 mr-5">Lot Number</h3></label>
                                </td>
                                <td>
                                    {% if fetch_form.lotNumber.errors %}
                                    {{ fetch_form.lotNumber(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in fetch_form.lotNumber.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ fetch_form.lotNumber(class="form-control form-control-lg") }}
                                    {% endif %}
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div style="width: 50%">
                        {{fetch_form.submit_fetch_form(class="btn btn-outline-primary btn-lg fetch_details_submit")}}
                    </div>

                </form>
            </div>
            </section>
            <hr class="m-0" />
            <!-- Meet the team-->
            <section class="resume-section" id="meet_the_team">
                <div class="resume-section-content">
                    <h1 class="mb-5" style="text-align: center">Meet the Team</h1>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1" style="text-align: center">
                            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" style="width: 15rem; height: 15rem" src="../static/assets/Rachana.jpeg" alt="" /></span>
                            <h3 class="mb-0">Rachana</h3>
                            <div class="subheading mb-3">Chaudhari</div>
                        </div>
                        <div class="flex-grow-1" style="text-align: center">
                            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" style="width: 15rem; height: 15rem" src="../static/assets/Revathi.jpeg" alt="" /></span>
                            <h3 class="mb-0">Revathi</h3>
                            <div class="subheading mb-3">Vijayaraghavan</div>
                        </div>
                        <div class="flex-grow-1" style="text-align: center">
                            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" style="width: 15rem; height: 15rem" src="../static/assets/Riya.jpeg" alt="" /></span>
                            <h3 class="mb-0">Riya</h3>
                            <div class="subheading mb-3">Shah</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
</div>
{% endblock %}