{% extends 'layout.html' %}
{% block body %}
<div class="">

    <div class="container-fluid p-0">

        <!-- Details-->
        <section class="resume-section" id="sca_home">
            <div class="resume-section-content">
                <div onclick="window.location.href='/home#login'">
                    <i class="fas fa-chevron-left fa-3x"></i>
                </div>
                <h2 class="mb-0">
                    Welcome to SPA Home Page
                </h2>
                <div class="subheading mb-5">
                    You are allowed to access the following methods
                </div>
                <div class="flex-row justify-content-around">
                    <button class="btn btn-outline-primary" onclick="window.location.href='/buyer_form'">Enter Buyer Details</button>
                    <button class="btn btn-outline-primary" onclick="window.location.href='/application_form'">Create An Application</button>
                    <button class="btn btn-outline-primary" onclick="window.location.href='/assign_spp'">Assign SPP</button>
                </div>
            </div>
        </section>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="../static/js/home.js"></script>
</div>
{% endblock %}